{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
tr{
    
    padding:auto;
    margin-right :20px;
}
       body {
        background-color: #FFEBEE
    }
    
    h1 {
        
        text-align:center;
    }
    
  td{
      width:100px;
  }
    
    .card {
        /* width: 400px; */
        background-color: #fff;
        border: none;
        border-radius: 12px;
        max-width: 600px;
        margin-left: 400px;
    }
    
    .action{
        text-align:center;
    }
   
    
    .card-body {
        padding:10px;
    }
    .nom{
        margin-left:10px;
    }
    .boutons{
        margin-right : 20px;
    }

</style>

    <h1> LISTE DES SOCIETES</h1>

        
          
    <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col" class="nom">Nom</th>
                <th scope="col">Déscription</th>
                <th scope="col">Type</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Ville</th>
               
                </tr>
            </thead>
            {% for societe in listesociete %}
                <tbody>
                    <tr class="table-danger">
                        <td class=e"nom">{{societe.nom}}</td>
                        <td>{{societe.description}}</td>
                        <td>
                        {% for test in societe.type %}
                            {{test}} &nbsp;
                        {% endfor %}
                        </td>
                        <td>{{societe.codePostal}}</td>
                        <td>{{societe.ville}}</td>
                        {# <td>
                             <button class="btn btn-primary" type="submit" id="boutons"><a href="">MODIFIER</a></button>
                              <button class="btn btn-primary" type="submit" id="bouton">SUPPRIMER</button>
                        </td> #}
                    </tr>
                
                </tbody>
            {% endfor %}
    </table>
            


{% endblock %}
